<manifest package="com.feicuiedu.readgroup"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".hx.ReadGroupApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">

        <activity android:name=".presentation.SplashActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".presentation.HomeActivity"
                  android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>

        <activity android:name=".presentation.books.bookinfo.BookInfoActivity"/>

    </application>

</manifest>
